.profile {
  width: 300px;
  background-color: rgb(251, 238, 186);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(212, 189, 95);
  margin: 20px auto;
}
.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 45px;
}
.avatar {
  width: 150px;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.location,
.tag {
  font-weight: 500;
  color: gray;
}
.stats {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 226, 148);
  border-top: 1px solid rgb(212, 189, 95);
}
.profileItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 5px;
  width: 100px;
}
.profileItem:not(:last-child) {
  border-right: 1px solid rgb(212, 189, 95);
}
.label {
  color: gray;
}
.quantity {
  font-weight: 500;
}
