.statistics {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 60%;
}
.statList {
  display: flex;
}
.percentage {
  font-weight: 500;
  font-size: 20px;
}
.statList {
  display: flex;
  border: 1px solid rgb(212, 189, 95);
  border-radius: 15px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 5px;
  width: 50px;
}
.item:not(:last-child) {
  border-right: 1px solid rgb(212, 189, 95);
}
